In [16]:
'''
DataFrame students
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| student_id  | int    |
| name        | object |
| age         | int    |
+-------------+--------+
There are some rows having missing values in the name column.

Write a solution to remove the rows with missing values.

The result format is in the following example.

 

Example 1:

Input:
+------------+---------+-----+
| student_id | name    | age |
+------------+---------+-----+
| 32         | Piper   | 5   |
| 217        | None    | 19  |
| 779        | Georgia | 20  |
| 849        | Willow  | 14  |
+------------+---------+-----+
Output:
+------------+---------+-----+
| student_id | name    | age |
+------------+---------+-----+
| 32         | Piper   | 5   |
| 779        | Georgia | 20  | 
| 849        | Willow  | 14  | 
+------------+---------+-----+
Explanation: 
Student with id 217 havs empty value in the name column, so it will be removed.
'''

import pandas as pd
import numpy as np

def dropMissingData(students: pd.DataFrame) -> pd.DataFrame:
    students.dropna(subset=['name'],inplace=True)
    return students

In [18]:

# prepare input data
students=[[32,'Piper',5 ]
,[217,np.nan,19]
,[779,'Georgia',20]
,[849,'Willow',14]]

# create data frame
df=pd.DataFrame(students,columns=['student_id','name','age'])

# Calling function
dropMissingData(df)

   student_id     name  age
0          32    Piper    5
2         779  Georgia   20
3         849   Willow   14