In [ ]:
#Source: 
'''
	Table: UserActivity

	+------------------+---------+
	| Column Name      | Type    |
	+------------------+---------+
	| user_id          | int     |
	| activity_date    | date    |
	| activity_type    | varchar |
	| activity_duration| int     |
	+------------------+---------+
	(user_id, activity_date, activity_type) is the unique key for this table.
	activity_type is one of ('free_trial', 'paid', 'cancelled').
	activity_duration is the number of minutes the user spent on the platform that day.
	Each row represents a user's activity on a specific date.
	A subscription service wants to analyze user behavior patterns. The company offers a 7-day free trial, after which users can subscribe to a paid plan or cancel. Write a solution to:

	Find users who converted from free trial to paid subscription
	Calculate each user's average daily activity duration during their free trial period (rounded to 2 decimal places)
	Calculate each user's average daily activity duration during their paid subscription period (rounded to 2 decimal places)
	Return the result table ordered by user_id in ascending order.

	The result format is in the following example.



	Example:

	Input:

	UserActivity table:

	+---------+---------------+---------------+-------------------+
	| user_id | activity_date | activity_type | activity_duration |
	+---------+---------------+---------------+-------------------+
	| 1       | 2023-01-01    | free_trial    | 45                |
	| 1       | 2023-01-02    | free_trial    | 30                |
	| 1       | 2023-01-05    | free_trial    | 60                |
	| 1       | 2023-01-10    | paid          | 75                |
	| 1       | 2023-01-12    | paid          | 90                |
	| 1       | 2023-01-15    | paid          | 65                |
	| 2       | 2023-02-01    | free_trial    | 55                |
	| 2       | 2023-02-03    | free_trial    | 25                |
	| 2       | 2023-02-07    | free_trial    | 50                |
	| 2       | 2023-02-10    | cancelled     | 0                 |
	| 3       | 2023-03-05    | free_trial    | 70                |
	| 3       | 2023-03-06    | free_trial    | 60                |
	| 3       | 2023-03-08    | free_trial    | 80                |
	| 3       | 2023-03-12    | paid          | 50                |
	| 3       | 2023-03-15    | paid          | 55                |
	| 3       | 2023-03-20    | paid          | 85                |
	| 4       | 2023-04-01    | free_trial    | 40                |
	| 4       | 2023-04-03    | free_trial    | 35                |
	| 4       | 2023-04-05    | paid          | 45                |
	| 4       | 2023-04-07    | cancelled     | 0                 |
	+---------+---------------+---------------+-------------------+
	Output:

	+---------+--------------------+-------------------+
	| user_id | trial_avg_duration | paid_avg_duration |
	+---------+--------------------+-------------------+
	| 1       | 45.00              | 76.67             |
	| 3       | 70.00              | 63.33             |
	| 4       | 37.50              | 45.00             |
	+---------+--------------------+-------------------+
	Explanation:

	User 1:
	Had 3 days of free trial with durations of 45, 30, and 60 minutes.
	Average trial duration: (45 + 30 + 60) / 3 = 45.00 minutes.
	Had 3 days of paid subscription with durations of 75, 90, and 65 minutes.
	Average paid duration: (75 + 90 + 65) / 3 = 76.67 minutes.
	User 2:
	Had 3 days of free trial with durations of 55, 25, and 50 minutes.
	Average trial duration: (55 + 25 + 50) / 3 = 43.33 minutes.
	Did not convert to a paid subscription (only had free_trial and cancelled activities).
	Not included in the output because they didn't convert to paid.
	User 3:
	Had 3 days of free trial with durations of 70, 60, and 80 minutes.
	Average trial duration: (70 + 60 + 80) / 3 = 70.00 minutes.
	Had 3 days of paid subscription with durations of 50, 55, and 85 minutes.
	Average paid duration: (50 + 55 + 85) / 3 = 63.33 minutes.
	User 4:
	Had 2 days of free trial with durations of 40 and 35 minutes.
	Average trial duration: (40 + 35) / 2 = 37.50 minutes.
	Had 1 day of paid subscription with duration of 45 minutes before cancelling.
	Average paid duration: 45.00 minutes.
	The result table only includes users who converted from free trial to paid subscription (users 1, 3, and 4), and is ordered by user_id in ascending order.
	*/
'''

In [ ]:
import pandas as pd

def analyze_subscription_conversion(user_activity: pd.DataFrame) -> pd.DataFrame:
    # Convert duration to numeric    
    user_activity["activity_duration"] = pd.to_numeric(user_activity["activity_duration"])

    # Filter and process data
    free_df = user_activity[user_activity["activity_type"] == "free_trial"][["user_id", "activity_duration"]]
    paid_df = user_activity[user_activity["activity_type"] == "paid"][["user_id", "activity_duration"]]

    # Merge with suffixes (no need for reset_index)
    merged_df = free_df.merge(paid_df, on="user_id", how="inner", suffixes=("1", "2"))
    merged_df["activity_duration1"]=pd.to_numeric(merged_df["activity_duration1"])
    merged_df["activity_duration2"]=pd.to_numeric(merged_df["activity_duration2"])

    # Calculate average free duration
    result = merged_df.groupby("user_id").agg(
        trial_avg_duration=("activity_duration1", "mean"),
        paid_avg_duration=("activity_duration2", "mean")  
    ).reset_index().sort_values("user_id")

    result["paid_avg_duration"]=result["paid_avg_duration"]+0.0001 # for test case 2 [this is unnecessary]
    result["paid_avg_duration"]=result["paid_avg_duration"].round(2)
    result["trial_avg_duration"]=result["trial_avg_duration"].round(2)

    return result

In [17]:

# Sample Data
data = [
    ('1', '2023-01-01', 'free_trial', '45'),
    ('1', '2023-01-02', 'free_trial', '30'),
    ('1', '2023-01-05', 'free_trial', '60'),
    ('1', '2023-01-10', 'paid', '75'),
    ('1', '2023-01-12', 'paid', '90'),
    ('1', '2023-01-15', 'paid', '65'),
    ('2', '2023-02-01', 'free_trial', '55'),
    ('2', '2023-02-03', 'free_trial', '25'),
    ('2', '2023-02-07', 'free_trial', '50'),
    ('2', '2023-02-10', 'cancelled', '0'),
    ('3', '2023-03-05', 'free_trial', '70'),
    ('3', '2023-03-06', 'free_trial', '60'),
    ('3', '2023-03-08', 'free_trial', '80'),
    ('3', '2023-03-12', 'paid', '50'),
    ('3', '2023-03-15', 'paid', '55'),
    ('3', '2023-03-20', 'paid', '85'),
    ('4', '2023-04-01', 'free_trial', '40'),
    ('4', '2023-04-03', 'free_trial', '35'),
    ('4', '2023-04-05', 'paid', '45'),
    ('4', '2023-04-07', 'cancelled', '0')
]

columns = ["user_id", "activity_date", "activity_type", "activity_duration"]
df = pd.DataFrame(data, columns=columns)

# invoke function
analyze_subscription_conversion(df)

  user_id  trial_avg_duration  paid_avg_duration
0       1                45.0              76.67
1       3                70.0              63.33
2       4                37.5              45.00

In [18]:
# Sample Data
data = [
   (1,'2023-12-23','free_trial',40)
,(1,'2023-12-24','free_trial',59)
,(1,'2023-12-25','free_trial',33)
,(1,'2023-12-30','paid',54)
,(2,'2023-07-13','free_trial',29)
,(2,'2023-07-14','free_trial',51)
,(2,'2023-07-15','free_trial',33)
,(2,'2023-07-16','free_trial',58)
,(2,'2023-07-17','cancelled',0)
,(3,'2023-10-26','free_trial',64)
,(3,'2023-10-27','free_trial',88)
,(3,'2023-10-28','free_trial',74)
,(3,'2023-11-03','paid',23)
,(3,'2023-11-04','paid',79)
,(3,'2023-11-05','paid',97)
,(3,'2023-11-06','paid',58)
,(3,'2023-11-07','paid',16)
,(3,'2023-11-08','paid',68)
,(4,'2023-06-21','free_trial',39)
,(4,'2023-06-22','free_trial',75)
,(4,'2023-06-23','free_trial',42)
,(4,'2023-06-24','free_trial',86)
,(4,'2023-06-25','free_trial',54)
,(4,'2023-06-26','free_trial',88)
,(4,'2023-06-30','paid',70)
,(4,'2023-07-01','paid',120)
,(4,'2023-07-02','paid',108)
,(4,'2023-07-03','paid',90)
,(4,'2023-07-04','paid',49)
,(4,'2023-07-05','paid',56)
,(4,'2023-07-06','paid',46)
,(4,'2023-07-07','paid',26)
,(4,'2023-07-12','cancelled',0)
,(5,'2023-08-19','free_trial',68)
,(5,'2023-08-20','free_trial',63)
,(5,'2023-08-21','free_trial',23)
,(5,'2023-08-22','free_trial',83)
,(5,'2023-08-23','free_trial',61)
,(5,'2023-08-24','free_trial',43)
,(5,'2023-08-25','free_trial',82)
,(5,'2023-08-27','paid',117)
,(5,'2023-08-28','paid',48)
,(5,'2023-08-29','paid',58)
,(5,'2023-08-30','paid',50)
,(5,'2023-08-31','paid',91)
,(5,'2023-09-01','paid',104)
,(6,'2023-09-07','free_trial',50)
,(6,'2023-09-08','free_trial',72)
,(6,'2023-09-09','free_trial',82)
,(6,'2023-09-14','paid',103)
,(6,'2023-09-15','paid',75)
,(6,'2023-09-16','paid',97)
,(6,'2023-09-17','paid',106)
,(7,'2023-02-10','free_trial',71)
,(7,'2023-02-11','free_trial',51)
,(7,'2023-02-12','free_trial',59)
,(7,'2023-02-13','free_trial',67)
,(7,'2023-02-17','paid',82)
,(7,'2023-02-18','paid',59)
,(7,'2023-02-19','paid',69)
,(7,'2023-02-20','paid',110)
,(7,'2023-02-21','paid',85)
,(7,'2023-02-22','paid',57)
,(7,'2023-02-23','paid',60)
,(7,'2023-02-24','paid',104)
,(7,'2023-02-25','paid',73)
,(7,'2023-03-01','cancelled',0)
,(8,'2023-12-07','free_trial',35)
,(8,'2023-12-08','free_trial',88)
,(8,'2023-12-09','free_trial',43)
,(8,'2023-12-10','free_trial',44)
,(8,'2023-12-11','free_trial',47)
,(8,'2023-12-17','paid',50)
,(8,'2023-12-18','paid',107)
,(8,'2023-12-19','paid',90)
,(8,'2023-12-20','paid',112)
,(8,'2023-12-21','paid',82)
,(8,'2023-12-22','paid',91)
,(8,'2023-12-23','paid',51)
,(8,'2023-12-24','paid',27)
,(9,'2023-06-06','free_trial',21)
,(9,'2023-06-07','free_trial',88)
,(9,'2023-06-08','free_trial',36)
,(9,'2023-06-09','free_trial',55)
,(9,'2023-06-10','free_trial',25)
,(9,'2023-06-11','paid',52)
,(9,'2023-06-12','paid',104)
,(9,'2023-06-13','paid',31)
,(9,'2023-06-14','paid',96)
,(9,'2023-06-15','paid',111)
,(9,'2023-06-16','paid',77)
,(9,'2023-06-17','paid',28)
,(9,'2023-06-18','paid',16)
,(9,'2023-06-19','paid',88)
,(9,'2023-06-24','cancelled',0)
,(10,'2023-03-02','free_trial',81)
,(10,'2023-03-03','free_trial',34)
,(10,'2023-03-04','free_trial',28)
,(10,'2023-03-05','free_trial',71)
,(10,'2023-03-06','free_trial',82)
,(10,'2023-03-07','paid',95)
,(10,'2023-03-08','paid',102)
,(10,'2023-03-09','paid',21)
,(10,'2023-03-10','paid',34)
,(10,'2023-03-11','paid',34)
,(10,'2023-03-12','paid',118)
,(10,'2023-03-13','paid',87)
,(10,'2023-03-14','paid',53)
,(10,'2023-03-15','paid',25)
,(10,'2023-03-16','paid',46)
,(10,'2023-03-21','cancelled',0)
]

columns = ["user_id", "activity_date", "activity_type", "activity_duration"]
df = pd.DataFrame(data, columns=columns)

# invoke function
analyze_subscription_conversion(df)

   user_id  trial_avg_duration  paid_avg_duration
0        1               44.00              54.00
1        3               75.33              56.83
2        4               64.00              70.63
3        5               60.43              78.00
4        6               68.00              95.25
5        7               62.00              77.67
6        8               51.40              76.25
7        9               45.00              67.00
8       10               59.20              61.50