In [ ]:
# Source: https://leetcode.com/problems/classes-more-than-5-students/solutions/6609968/simple-best-solution-by-iqbaldiit-tvdb/
'''
    Table: Courses

    +-------------+---------+
    | Column Name | Type    |
    +-------------+---------+
    | student     | varchar |
    | class       | varchar |
    +-------------+---------+
    (student, class) is the primary key (combination of columns with unique values) for this table.
    Each row of this table indicates the name of a student and the class in which they are enrolled.
    

    Write a solution to find all the classes that have at least five students.

    Return the result table in any order.

    The result format is in the following example.

    

    Example 1:

    Input: 
    Courses table:
    +---------+----------+
    | student | class    |
    +---------+----------+
    | A       | Math     |
    | B       | English  |
    | C       | Math     |
    | D       | Biology  |
    | E       | Math     |
    | F       | Computer |
    | G       | Math     |
    | H       | Math     |
    | I       | Math     |
    +---------+----------+
    Output: 
    +---------+
    | class   |
    +---------+
    | Math    |
    +---------+
    Explanation: 
    - Math has 6 students, so we include it.
    - English has 1 student, so we do not include it.
    - Biology has 1 student, so we do not include it.
    - Computer has 1 student, so we do not include it.
'''
import pandas as pd
def find_classes(courses: pd.DataFrame) -> pd.DataFrame:
    dfResult=courses.groupby("class")["student"].count().reset_index(name="stu_cnt")
    return dfResult[dfResult["stu_cnt"]>=5][["class"]]

In [21]:
# Sample data
data = {
    "student": ["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    "class": ["Math", "English", "Math", "Biology", "Math", "Computer", "Math", "Math", "Math"]
}

# Create DataFrame
df = pd.DataFrame(data)

# invke function
find_classes(df)

  class
3  Math