In [ ]:
# Source: https://leetcode.com/problems/employees-earning-more-than-their-managers/solutions/6658823/simple-best-solution-by-iqbaldiit-ov9g/
'''
	Table: Employee

	+-------------+---------+
	| Column Name | Type    |
	+-------------+---------+
	| id          | int     |
	| name        | varchar |
	| salary      | int     |
	| managerId   | int     |
	+-------------+---------+
	id is the primary key (column with unique values) for this table.
	Each row of this table indicates the ID of an employee, their name, salary, and the ID of their manager.
 

	Write a solution to find the employees who earn more than their managers.
	Return the result table in any order.
	The result format is in the following example.

 

	Example 1:

	Input: 
	Employee table:
	+----+-------+--------+-----------+
	| id | name  | salary | managerId |
	+----+-------+--------+-----------+
	| 1  | Joe   | 70000  | 3         |
	| 2  | Henry | 80000  | 4         |
	| 3  | Sam   | 60000  | Null      |
	| 4  | Max   | 90000  | Null      |
	+----+-------+--------+-----------+
	Output: 
	+----------+
	| Employee |
	+----------+
	| Joe      |
	+----------+
	Explanation: Joe is the only employee who earns more than his manager.
'''

In [9]:
import pandas as pd

def find_employees(employee: pd.DataFrame) -> pd.DataFrame:
    df=(employee.merge(employee
            ,left_on="managerId"
            ,right_on="id"
            ,how="inner"
            ,suffixes=("_emp","_mgr"))
            .query("salary_emp > salary_mgr")
            .rename(columns={"name_emp":"Employee"})
            [["Employee"]])
    
    return df

# sample data
data = [[1, 'Joe', 70000, 3], [2, 'Henry', 80000, 4], [3, 'Sam', 60000, None], [4, 'Max', 90000, None]]
columns=['id', 'name', 'salary', 'managerId']

# convert to dataframe
employee = pd.DataFrame(data, columns=columns).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'managerId':'Int64'})

# invove function 
find_employees(employee)

  Employee
0      Joe