In [18]:
# Source: https://leetcode.com/problems/first-letter-capitalization-ii/solutions/6729433/simple-best-solution/
'''
Table: user_content

	+-------------+---------+
	| Column Name | Type    |
	+-------------+---------+
	| content_id  | int     |
	| content_text| varchar |
	+-------------+---------+
	content_id is the unique key for this table.
	Each row contains a unique ID and the corresponding text content.
	Write a solution to transform the text in the content_text column by applying the following rules:

	Convert the first letter of each word to uppercase and the remaining letters to lowercase
	Special handling for words containing special characters:
	For words connected with a hyphen -, both parts should be capitalized (e.g., top-rated → Top-Rated)
	All other formatting and spacing should remain unchanged
	Return the result table that includes both the original content_text and the modified text following the above rules.

	The result format is in the following example.

 

	Example:

	Input:

	user_content table:

	+------------+---------------------------------+
	| content_id | content_text                    |
	+------------+---------------------------------+
	| 1          | hello world of SQL              |
	| 2          | the QUICK-brown fox             |
	| 3          | modern-day DATA science         |
	| 4          | web-based FRONT-end development |
	+------------+---------------------------------+
	Output:

	+------------+---------------------------------+---------------------------------+
	| content_id | original_text                   | converted_text                  |
	+------------+---------------------------------+---------------------------------+
	| 1          | hello world of SQL              | Hello World Of Sql              |
	| 2          | the QUICK-brown fox             | The Quick-Brown Fox             |
	| 3          | modern-day DATA science         | Modern-Day Data Science         |
	| 4          | web-based FRONT-end development | Web-Based Front-End Development |
	+------------+---------------------------------+---------------------------------+
	Explanation:

	For content_id = 1:
	Each word's first letter is capitalized: "Hello World Of Sql"
	For content_id = 2:
	Contains the hyphenated word "QUICK-brown" which becomes "Quick-Brown"
	Other words follow normal capitalization rules
	For content_id = 3:
	Hyphenated word "modern-day" becomes "Modern-Day"
	"DATA" is converted to "Data"
	For content_id = 4:
	Contains two hyphenated words: "web-based" → "Web-Based"
	And "FRONT-end" → "Front-End"
'''

'\nTable: user_content\n\n\t+-------------+---------+\n\t| Column Name | Type    |\n\t+-------------+---------+\n\t| content_id  | int     |\n\t| content_text| varchar |\n\t+-------------+---------+\n\tcontent_id is the unique key for this table.\n\tEach row contains a unique ID and the corresponding text content.\n\tWrite a solution to transform the text in the content_text column by applying the following rules:\n\n\tConvert the first letter of each word to uppercase and the remaining letters to lowercase\n\tSpecial handling for words containing special characters:\n\tFor words connected with a hyphen -, both parts should be capitalized (e.g., top-rated → Top-Rated)\n\tAll other formatting and spacing should remain unchanged\n\tReturn the result table that includes both the original content_text and the modified text following the above rules.\n\n\tThe result format is in the following example.\n\n \n\n\tExample:\n\n\tInput:\n\n\tuser_content table:\n\n\t+------------+---------------------------------+\n\t| content_id | content_text                    |\n\t+------------+---------------------------------+\n\t| 1          | hello world of SQL              |\n\t| 2          | the QUICK-brown fox             |\n\t| 3          | modern-day DATA science         |\n\t| 4          | web-based FRONT-end development |\n\t+------------+---------------------------------+\n\tOutput:\n\n\t+------------+---------------------------------+---------------------------------+\n\t| content_id | original_text                   | converted_text                  |\n\t+------------+---------------------------------+---------------------------------+\n\t| 1          | hello world of SQL              | Hello World Of Sql              |\n\t| 2          | the QUICK-brown fox             | The Quick-Brown Fox             |\n\t| 3          | modern-day DATA science         | Modern-Day Data Science         |\n\t| 4          | web-based FRONT-end development | Web-Based Front-End Development |\n\t+------------+---------------------------------+---------------------------------+\n\tExplanation:\n\n\tFor content_id = 1:\n\tEach word\'s first letter is capitalized: "Hello World Of Sql"\n\tFor content_id = 2:\n\tContains the hyphenated word "QUICK-brown" which becomes "Quick-Brown"\n\tOther words follow normal capitalization rules\n\tFor content_id = 3:\n\tHyphenated word "modern-day" becomes "Modern-Day"\n\t"DATA" is converted to "Data"\n\tFor content_id = 4:\n\tContains two hyphenated words: "web-based" → "Web-Based"\n\tAnd "FRONT-end" → "Front-End"\n'

In [16]:
import pandas as pd

def capitalize_content(user_content: pd.DataFrame) -> pd.DataFrame:
    # Apply transformation
    user_content["converted_text"] = user_content["content_text"].apply(format_text)
    user_content.rename(columns={"content_text":"original_text"},inplace=True)
    return user_content

#function to transform word which are splited by "-"
def capitalize_word(word):
    return "-".join([w.capitalize() for w in word.split("-")])

# Function to transform text
def format_text(text):
    return " ".join([capitalize_word(word) for word in text.split()])

In [17]:
# Sample data
data = {
    "content_id": [1, 2, 3, 4],
    "content_text": [
        "hello world of SQL",
        "the QUICK-brown fox",
        "modern-day DATA science",
        "web-based FRONT-end development"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# invoke function
capitalize_content(df)

,content_id,original_text,converted_text
0,1,hello world of SQL,Hello World Of Sql
1,2,the QUICK-brown fox,The Quick-Brown Fox
2,3,modern-day DATA science,Modern-Day Data Science
3,4,web-based FRONT-end development,Web-Based Front-End Development