In [ ]:
# Source: https://leetcode.com/problems/fix-names-in-a-table/solutions/6304880/simple-best-solution/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata
'''
/*
Source: https://leetcode.com/problems/fix-names-in-a-table/solutions/6304880/simple-best-solution-by-iqbaldiit-dafz/

Table: Users

+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| user_id        | int     |
| name           | varchar |
+----------------+---------+
user_id is the primary key (column with unique values) for this table.
This table contains the ID and the name of the user. The name consists of only lowercase and uppercase characters.
 

Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.

Return the result table ordered by user_id.

The result format is in the following example.

 

Example 1:

Input: 
Users table:
+---------+-------+
| user_id | name  |
+---------+-------+
| 1       | aLice |
| 2       | bOB   |
+---------+-------+
Output: 
+---------+-------+
| user_id | name  |
+---------+-------+
| 1       | Alice |
| 2       | Bob   |
+---------+-------+

*/
'''
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name']=users['name'].str.capitalize()
    users.sort_values(by='user_id',ascending=True,inplace=True)    
    return users

In [6]:
# prepare data
users = {'user_id': [1, 2], 'name': ['aLice', 'bOB']}
# convert it to dataframe
df=pd.DataFrame(users)
#invoke function
fix_names(df)

   user_id   name
0        1  Alice
1        2    Bob