In [ ]:
# Source: https://leetcode.com/problems/human-traffic-of-stadium/solutions/6697419/simple-best-solution-by-iqbaldiit-kkgg/
'''
	Table: Stadium

	+---------------+---------+
	| Column Name   | Type    |
	+---------------+---------+
	| id            | int     |
	| visit_date    | date    |
	| people        | int     |
	+---------------+---------+
	visit_date is the column with unique values for this table.
	Each row of this table contains the visit date and visit id to the stadium with the number of people during the visit.
	As the id increases, the date increases as well.
 

	Write a solution to display the records with three or more rows with consecutive id's, and the number of people is greater than or equal to 100 for each.

	Return the result table ordered by visit_date in ascending order.

	The result format is in the following example.

 

	Example 1:

	Input: 
	Stadium table:
	+------+------------+-----------+
	| id   | visit_date | people    |
	+------+------------+-----------+
	| 1    | 2017-01-01 | 10        |
	| 2    | 2017-01-02 | 109       |
	| 3    | 2017-01-03 | 150       |
	| 4    | 2017-01-04 | 99        |
	| 5    | 2017-01-05 | 145       |
	| 6    | 2017-01-06 | 1455      |
	| 7    | 2017-01-07 | 199       |
	| 8    | 2017-01-09 | 188       |
	+------+------------+-----------+
	Output: 
	+------+------------+-----------+
	| id   | visit_date | people    |
	+------+------------+-----------+
	| 5    | 2017-01-05 | 145       |
	| 6    | 2017-01-06 | 1455      |
	| 7    | 2017-01-07 | 199       |
	| 8    | 2017-01-09 | 188       |
	+------+------------+-----------+
	Explanation: 
	The four rows with ids 5, 6, 7, and 8 have consecutive ids and each of them has >= 100 people attended. Note that row 8 was included even though the visit_date was not the next day after row 7.
	The rows with ids 2 and 3 are not included because we need at least three consecutive ids.

'''

In [12]:
import pandas as pd

def human_traffic(stadium: pd.DataFrame) -> pd.DataFrame:
    # filter data above or equals 100
    stadium=stadium[stadium["people"]>=100].reset_index()

    #find difference of id and index to understand sequence
    stadium["group"]=stadium["id"]-stadium.index

    # Find groups with at least 3 consecutive rows
    stadium=(
        stadium.groupby("group")
                .filter(lambda x:len(x)>=3)
                [["id","visit_date","people"]]
                .sort_values(by="id",ascending=True)
    )
    return stadium

#sample data
data = {
    "id": [1, 2, 3, 4, 5, 6, 7, 8],
    "visit_date": [
        "2017-01-01", "2017-01-02", "2017-01-03", "2017-01-04",
        "2017-01-05", "2017-01-06", "2017-01-07", "2017-01-09"
    ],
    "people": [10, 109, 150, 99, 145, 1455, 199, 188]
}

#convert dataframe
stadium=pd.DataFrame(data=data)

#invoke function
human_traffic(stadium)

   id  visit_date  people
2   5  2017-01-05     145
3   6  2017-01-06    1455
4   7  2017-01-07     199
5   8  2017-01-09     188