In [ ]:
# Source: https://leetcode.com/problems/managers-with-at-least-5-direct-reports/solutions/6646046/simple-best-solution-by-iqbaldiit-d3au/
'''
	Table: Employee

	+-------------+---------+
	| Column Name | Type    |
	+-------------+---------+
	| id          | int     |
	| name        | varchar |
	| department  | varchar |
	| managerId   | int     |
	+-------------+---------+
	id is the primary key (column with unique values) for this table.
	Each row of this table indicates the name of an employee, their department, and the id of their manager.
	If managerId is null, then the employee does not have a manager.
	No employee will be the manager of themself.
 

	Write a solution to find managers with at least five direct reports.

	Return the result table in any order.

	The result format is in the following example.

 

	Example 1:

	Input: 
	Employee table:
	+-----+-------+------------+-----------+
	| id  | name  | department | managerId |
	+-----+-------+------------+-----------+
	| 101 | John  | A          | null      |
	| 102 | Dan   | A          | 101       |
	| 103 | James | A          | 101       |
	| 104 | Amy   | A          | 101       |
	| 105 | Anne  | A          | 101       |
	| 106 | Ron   | B          | 101       |
	+-----+-------+------------+-----------+
	Output: 
	+------+
	| name |
	+------+
	| John |
	+------+
'''

In [ ]:
import pandas as pd
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    rpt_df=employee.groupby("managerId")["id"].count().reset_index(name="rpt_count")
    manager_with_five_df=rpt_df[rpt_df["rpt_count"]>=5]
    return manager_with_five_df.merge(employee,left_on="managerId",right_on="id",how="inner")[["name"]]  

# Sample DataFrame
data = {
    'id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'name': ['John', 'Dan', 'James', 'Amy', 'Anne', 'Ron', 'Tom', 'Tommy', 'Peter', 'Dong'],
    'department': ['A', 'A', 'A', 'A', 'A', 'B', 'A', 'A', 'C', 'A'],
    'managerId': [None, 101, 101, 101, 101, 101, 102, 102, 102, 102]
}
# convert to dataframe
df = pd.DataFrame(data)

# invoke function
find_managers(df)

   name
0  John