In [ ]:
# Source: https://leetcode.com/problems/nth-highest-salary/solutions/6539582/simple-best-solution-by-iqbaldiit-bm2v/
'''
	Table: Employee

	+-------------+------+
	| Column Name | Type |
	+-------------+------+
	| id          | int  |
	| salary      | int  |
	+-------------+------+
	id is the primary key (column with unique values) for this table.
	Each row of this table contains information about the salary of an employee.

	Write a solution to find the nth highest salary from the Employee table. 
	If there is no nth highest salary, return null.

	The result format is in the following example.

	Example 1:
	Input: 
	Employee table:
	+----+--------+
	| id | salary |
	+----+--------+
	| 1  | 100    |
	| 2  | 200    |
	| 3  | 300    |
	+----+--------+
	n = 2
	Output: 
	+------------------------+
	| getNthHighestSalary(2) |
	+------------------------+
	| 200                    |
	+------------------------+

	Example 2:
	Input: 
	Employee table:
	+----+--------+
	| id | salary |
	+----+--------+
	| 1  | 100    |
	+----+--------+
	n = 2

	Output: 
	+------------------------+
	| getNthHighestSalary(2) |
	+------------------------+
	| null                   |
	+------------------------+
'''

import pandas as pd


# Solution
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    # Sort salaries in descending order and remove duplicates
    sorted_salaries = employee['salary'].drop_duplicates().sort_values(ascending=False)
	# Check for invalid input
    if N <= 0:
        return pd.DataFrame({f"getNthHighestSalary({N})": [None]})  # Return null for invalid n
    
    # Check if n is within bounds
    if N > len(sorted_salaries):
        return pd.DataFrame({f"getNthHighestSalary({N})": [None]})
    
    nth_salary = sorted_salaries.iloc[N - 1]
    
    # Return the result as a DataFrame
    return pd.DataFrame({f"getNthHighestSalary({N})": [nth_salary]})

In [11]:
# Prepare Data
data = {"id": [1, 2, 3], "salary": [100, 200, 300]}
df = pd.DataFrame(data)

# Execution
print(nth_highest_salary(df, -1))  # Output: 200

  getNthHighestSalary(-1)
0                    None