In [ ]:
# Source: https://leetcode.com/problems/second-highest-salary/solutions/6563584/simple-best-solution-by-iqbaldiit-ptjd/
'''
	Table: Employee

	+-------------+------+
	| Column Name | Type |
	+-------------+------+
	| id          | int  |
	| salary      | int  |
	+-------------+------+
	id is the primary key (column with unique values) for this table.
	Each row of this table contains information about the salary of an employee.
	

	Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).

	The result format is in the following example.

	

	Example 1:

	Input: 
	Employee table:
	+----+--------+
	| id | salary |
	+----+--------+
	| 1  | 100    |
	| 2  | 200    |
	| 3  | 300    |
	+----+--------+
	Output: 
	+---------------------+
	| SecondHighestSalary |
	+---------------------+
	| 200                 |
	+---------------------+
	Example 2:

	Input: 
	Employee table:
	+----+--------+
	| id | salary |
	+----+--------+
	| 1  | 100    |
	+----+--------+
	Output: 
	+---------------------+
	| SecondHighestSalary |
	+---------------------+
	| null                |
	+---------------------+
'''

import pandas as pd

# Solution
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:       
	unique_salaries=employee["salary"].drop_duplicates().sort_values(ascending=False)
	if len(unique_salaries)<2:
		return pd.DataFrame({"SecondHighestSalary": [None]})
	sec_highest_salary=unique_salaries.iloc[1]
	return pd.DataFrame({"SecondHighestSalary": [sec_highest_salary]})

In [2]:
# Prepare Data
data = {"id": [1,2,3], "salary": [100,200,300]}
df = pd.DataFrame(data)

# Execution
print(second_highest_salary(df))  # Output: 200

   SecondHighestSalary
0                  200